.multi-card {
  @include card(0, transparent);
  @include c-col-flex-between-center;
}
.c-card {
  @include card();
  @include c-col-flex-between-center;
  .h-line {
    @include line(2rem, .2rem, .2rem);
  }
  .desc{
    color: var(--primary-text);
    margin: .8rem 0;
    text-align: left;
    @include text-multi-line(2);
  }
}
.card-single-icon {
  display: flex;
  align-items: flex-end;
  width: 56px;
  margin-right: .4rem;
  img {
    @include card-icon(56px, 56px);
    border: 2px solid white;
    background-color: var(--card-bg-primary);
  }
}
.card-icons {
  position: relative;
  margin-right: 2.4rem;
  img {
    @include card-icon;
    @include coin-shadow;
    border: 1px solid white;
  }
  .icon2 {
    position: absolute;
    left: 2.4rem;
  }
  .icon1 {
    position: relative;
    left: 0;
  }
}
.card-title-text {
  display: flex;
  justify-items: center;
  align-items: center;
}
.card-link-top-box {
  height: 128px;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  background-image: linear-gradient(to bottom, #141414, #1D1E1F);
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 8px;
  overflow: hidden;
}
.card-link-icons {
  display: flex;
  align-items: flex-end;
  width: 74px;
  margin-right: .5rem;
  &-lg {
    width: 96px;
  }
  img {
    border: 2px solid white;
    background-color: var(--card-bg-primary);
  }
  .icon1 {
    @include card-icon(56px, 56px);
  }
  .icon2 {
    margin-left: -1rem;
    @include card-icon(32px, 32px);
  }
  .icon2-lg {
    margin-left: -1rem;
    @include card-icon(56px, 56px);
  }
}
.card-link-title-text {
  flex: 1;
  overflow: hidden;
  .link-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      @include text-multi-line;
      text-align: left;
      margin-right: .4rem;
    }
  }
}
.validator-container{
  display: flex;
  flex-wrap: wrap;
  .validator {
    background-color: var(--background);
    margin: .2rem .3rem;
    padding: .2rem .5rem;
    border-radius: .4rem;
    color: #BDBFC2;
  }
}

.project-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 14px;
  .name {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    margin-right: .4rem;
    line-height: 14px;
  }
  .info {
    text-align: right;
    font-weight: 500;
    line-height: 14px;
  }
}

.status-container {
  display: flex;
  justify-content: center;
  span {
    border: 1px solid;
    padding: 0 14px;
    border-radius: 2rem;
    font-size: 14px;
    height: 24px;
  }
  .Active {
    color: rgba(80, 191, 0, 1);
    background: rgba(80, 191, 0, .05);
  }
  .Retired {
    color: rgba(248, 182, 42, 1);
    background: rgba(248, 182, 42, .05);
  }
  .Completed {
    color: rgba(255, 91, 77, 1);
    background: rgba(255, 91, 77, .05);
  }
  .Winner {
    color: rgba(80, 191, 0, 1);
    background: rgba(80, 191, 0, .05);
  }
}

.info-icon {
  width: 28px;
  height: 28px;
  margin-left: -12px;
  border-radius: 28px;
  background-color: var(--card-bg-primary);
}
