.p-card {
  @include card(0);
  @include c-col-flex-between-center;
  position: relative;
  border: none;
  .poster{
    @include card-poster-bg(107px);
    min-height: 107px;
    background-color: white;
  }
  .large-poster{
    @include card-poster-bg(9.6rem);
  }
  .logo-box {
    position: absolute;
    top: -1rem;
    left: 1rem;
  }
  .logo {
    @include card-icon(56px, 56px);
    border: 2px solid white;
  }
  .large-logo {
    @include card-icon(72px, 72px);
    position: absolute;
    border: .2rem solid white;
    left: 1rem;
    top: -36px;
    background-color: white;
    box-sizing: border-box;
  }
  .second-card {
    @include card(3rem 1rem 1.2rem, var(--card-bg-primary), none);
    margin-top: -12px;
  }
  .second-card-home {
    @include card(58px 1rem 1.2rem, var(--card-bg-primary), none);
  }
  .official-link-icon{
    @include icon();
    background-image: url("~@/static/images/official-link.svg");
  }
  .link-icon {
    @include icon();
    background-image: url("~@/static/images/official-link1.svg");
  }
}
@media (max-width: 500px) {
  .project-info {
    margin-left: 0!important;
    margin-top: 1.6rem;
  }
}
