.p-card {
  @include card(0);
  @include c-col-flex-between-center;
  position: relative;
  .poster{
    @include card-poster-bg(6.2rem);
    background-color: var(--primary-custom);
  }
  .logo {
    @include card-icon;
    position: absolute;
    top: -2rem;
    left: 1.2rem;
    border: 1px solid white;
  }
  .second-card {
    @include card(1.2rem, white, none)
  }
}
