.font56 {
  font-size: 2.8rem;
}

.font46 {
  font-size: 2.3rem;
}

.font40 {
  font-size: 2rem;
}

.font32 {
  font-size: 1.6rem;
}

.font28 {
  font-size: 1.4rem;
}

.font26 {
  font-size: 1.3rem;
}

.font24 {
  font-size: 1.2rem;
}

.font20 {
  font-size: 1rem;
}

.font18 {
  font-size: .9rem;
}

.font16 {
  font-size: .8rem;
}

.font14 {
  font-size: .7rem;
}

.font12 {
  font-size: .6rem;
}
