.page-layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.page-side {
  width: 3.8rem;
  height: 100%;
  background: var(--card-bg-primary);
  //border-right: 1px solid var(--dividers);
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  .app-icon {
    @include icon(2rem, 2rem);
  }
  .apps-icon-box {
    .app-icon {
      background-image: url("~@/static/images/apps-white-icon.png");
    }
    &.active .app-icon {
      background-image: url("~@/static/images/apps-icon.png");
    }
  }
  .divider-line {
    width: 2.2rem;
    height: 1px;
    background-color: var(--dividers);
  }
  .add-user-icon {
    @include icon(2rem, 2rem);
    background-image: url("~@/static/images/add-user-icon.svg");
  }
  .menu-icon {
    @include icon(2rem, 2rem);
    background-image: url("~@/static/images/menu-icon.svg");
    &:hover {
      background-image: url("~@/static/images/menu-icon-active.svg");
    }
    &.active {
      background-image: url("~@/static/images/menu-icon-active.svg");
    }
  }
  .setting-icon {
    @include icon(2rem, 2rem);
    background-image: url("~@/static/images/setting-icon.svg");
    opacity: .7;
  }
}
.page-container {
  flex: 1;
  background-color: var(--background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .page-header {
    height: 5rem;
    min-height: 5rem;
    width: 100%;
    padding: 0 40px;
  }
  .page-content {
    position: relative;
    flex: 1;
    overflow: hidden;
  }
}
.page-content {
  .page-back-text-icon {
    padding-left: 1.8rem;
    background-image: url("~@/static/images/back.svg");
    background-position: left center;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    text-align: left;
    width: fit-content;
  }
  .page-title-line {
    padding-left: 1.2rem;
    @include single-color-bg(4px 1rem, left center);
    width: fit-content;
  }
  .scroll-content {
    height: 100%;
    overflow-y: scroll;
  }
  .view-top-header {
    margin: 0 -0.75rem;
    background-color: var(--background);
    &-sticky {
      position: sticky;
      z-index: 2;
    }
    .c-btn-group {
      display: flex;
      gap: .4rem;
      justify-content: flex-end;
    }
  }
  .no-view-top-header {
    padding-top: 2rem;
  }
  .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    box-sizing: border-box;
    &-bg {
      height: 2rem;
      background-color: var(--nav-tab-bg);
      border-radius: .6rem;
      padding: 0 2px;
      .nav .active {
        background-color: var(--nav-tab-bg-active);
        border-radius: .6rem;
        color: var(--primary-custom);
        font-weight: bold;
      }
      a, span {
        height: 1.8rem;
        color: var(--text-74);
      }
    }
    .nav {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      a, span {
        min-width: 90px;
        cursor: pointer;
        padding: 0 .5rem;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a:hover, span:hover {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  .sub-community-page .nav-box .nav .active {
    color: var(--sub-primary);
  }
}
//pc
@media (min-width: 992px) {
  .page-container {
    .m-view-top-header {
      display: none;
    }
    .view-top-header-sticky {
      padding: 0 15px 1rem;
      top: 0;
    }
  }
  .b-sidebar-outer {
    position: unset;
  }
}
//h5
@media (max-width: 991px) {
  .page-container {
    .page-header {
      padding: 0 15px;
    }
    .page-back-text-icon {
      margin-top: 0;
      margin-bottom: 0;
    }
    .view-top-header {
      padding: .75rem;
      top: -1px;
    }
    .p-view-top-header {
      display: none;
    }
  }
  .container {
    padding: 0 15px!important;
  }
}

