.custom-modal {
  .modal-content {
    border: 0.5px solid #FFA34C;
    border-radius: 20px;
    background-color: var(--input-bg);
    color: var(--primary-text);
    //box-shadow: 0 2px 12px 2px rgba(white, 0.1);
  }
  .modal-close-icon {
    @include icon(1.4rem, 1.4rem);
    background-image: url("~@/static/images/close.svg");
  }
  .modal-back-icon {
    @include icon(1.4rem, 1.4rem);
    background-image: url("~@/static/images/back.svg");
  }
  .h-line {
    width: 100%;
    height: 1px;
    background-color: #141414;
  }
}
.cropper-modal .modal-content {
  background-color: var(--input-bg);
}
